<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "site" %>
    <% if current_page.data.stylesheet %>
      <%= stylesheet_link_tag current_page.data.stylesheet %>
    <% end %>
  </head>
  <body>
    <%= partial "navigation" %>
    <main>
      <%= yield %>
    </main>
    <footer>
      Copyright &copy; 2020 Ethan D. Twardy. All rights reserved.
    </footer>
  </body>
</html>
